.comment-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .comment {
    width: 100%;
    max-width: 600px;
    color: #000;
    text-decoration: none;
    margin-bottom: 20px;

    .form {
      display: flex;
      align-items: flex-end;
      column-gap: 8px;

      .textarea {
        width: 100%;
      }
    }
  }
}

.comment-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 6px;

  .comment {
    // border: 1px solid #ddd;
    // border-radius: 5px;
    padding: 16px 20px;
    width: 100%;
    // max-width: 800px;
    color: #000;
    text-decoration: none;

    .body {
      // display: grid;
      // grid-template-columns: 1fr 100px;
      // column-gap: 8px;

      .content {
        margin-bottom: 30px;
        font-size: 17px;
        padding: 5px 25px;

      }

      .timestamp {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin: 0;
        color: #777;
        font-size: 12px;
      }
    }
  }
}

.comment-detail {
  display: flex;
  align-items: center;

}

.timestamp {
  font-size: 12px;
}

.comment-edit {
  display: flex;
  justify-content: space-between;
}

.time-border {
  display:flex;
  align-items: center;
  justify-content: center;
}

.time-border::before,
.time-border::after {
  content: "";
  flex-grow: 1;
  border-top: 1px solid black;
  border-color: #DDDDDD;
}

.time-border:before {
  margin-right: 1rem; 
}
.time-border:after {
  margin-left: 1rem; 
}

.post-list {
  text-align: center;
}

.comment-user-name {
  font-size: 15px;
  padding: 10px;
}

.comment-time {
  color: #616061;
}

.content {
  margin-top: 15px;
}

.replies {
  
}

.reply-list {
  padding: 10px 30px;
}

.reply-detail {
  display: flex;
  align-items: center;
}

.reply-user-name {
  font-size: 15px;
  padding: 10px;

}

.reply-user-image {
  
}

.reply-time {
  
}
