p {
  color: #3B3A3B;
}

body {
  background-repeat: no-repeat;
  background-position: center;

}

.main-container {
  // margin-top: 80px;
  background: #ffffff;
  min-height: calc(100vh - 80px);
}

.alert {
  width: 90%;
  margin: 5px auto;
}

.bg-white {
 width: 100%; 
 margin: 60px 20px;
 overflow-y: scroll;
 scrollbar-color: rebeccapurple green;
 scrollbar-width: thin;
}

.username {
  margin-left: auto;
  font-size: 15px;
  font-weight: bold;

}

.channel-index-ul{
  width: 500px;
  list-style: none; 
}
.channel-index-list{
  display: flex;
  justify-content: space-between;
  padding:15px;
  border-bottom:1px solid #000;
}

.day{
  
}
.channel-index-label{
  background-color:blue;
  border-radius:3px;
  color:#fff;
  padding:2px 5px;
  margin:0 20px;
}
.text{
  
}


.site-title {
    padding: 5px;
    color: white;
    margin: 0 20px;
}
.sidebar-title {
  color: #C9BFCB;
}

.channel {
  color: #C9BFCB;
}

.sidebar-border {
  border-bottom: solid 0.5px;
  
}



a .nav-link {
  color: #fff;
}

.side-bar {
  // height: 100vh
  background-color: #4D2A51;
  width: 400px;
  color: #C9BFCB;
  padding-top: 50px;
}

.side-bar ul {
  list-style: none;
}

.side-bar li {
  padding: 5px;
}

.wrapper {
  display: flex;
  height: 100vh;
  position: fixed;
  width: 100%;

}

.icon-list {
  display: flex;
  color: #fff;
  list-style: none;
}
.icon {
  margin-right: 10px;
  width: 30px;
  border-radius: 50%;
}
.channel {
  padding: 20px 5px 5px;
}
