p {
  color: #3B3A3B;
}

body {
  background-repeat: no-repeat;
  background-position: center;

}

.main-container {
  // margin-top: 80px;
  background: #ffffff;
  min-height: calc(100vh - 80px);
}

.alert {
  width: 90%;
  margin: 5px auto;
}

.bg-white {
 width: 100%; 
 margin: 60px 20px;
 overflow-y: scroll;
 scrollbar-color: rebeccapurple green;
 scrollbar-width: thin;
}

.username {
  margin-left: auto;
  font-size: 15px;
  font-weight: bold;

}

.channel-index-ul{
  width: 500px;
  list-style: none; 
}
.channel-index-list{
  display: flex;
  justify-content: space-between;
  padding:15px;
  border-bottom:1px solid #000;
}

.day{
  
}
.channel-index-label{
  background-color:blue;
  border-radius:3px;
  color:#fff;
  padding:2px 5px;
  margin:0 20px;
}
.text{
  
}

.sidebar-title {
  color: #C9BFCB;
}

.channel {
  color: #C9BFCB;
}

.sidebar-border {
  border-bottom: solid 0.5px;
  
}

.site-title {
    padding: 5px;
    color: white;
    margin: 0 20px;
}