
 <div class="device-container">

  <div class="form-container">

    <div class="study-start">
      <%= link_to '入室する', studies_path(start: true) , method: :post, id: "startButton", class: "btn btn-danger" %>
    
    </div>
    



      <% today = Date.today %> <!-- 今日の日付を取得 -->
      <% today_study_time = 0 %> <!-- 今日の学習時間を初期化 -->
      
      <% total_study_time = 0 %> <!-- 合計学習時間を初期化 -->
      
      <% current_user.studies.each do |study| %>
        <% study_time = (study.end_time && study.start_time) ? (study.end_time - study.start_time).to_i : 0 %>
        <% total_study_time += study_time %> <!-- すべての学習時間を合計に加算 -->
      
        <% if study.created_at.to_date == today %> <!-- 学習セッションが今日のものであるかを確認 -->
          <% today_study_time += study_time %> <!-- 今日の学習時間を加算 -->
        <% end %>
      
      <% end %>
      
      
      <div class="today-study-time">
         本日の学習時間
         <% today_study_time = Time.at(today_study_time)%>
          <%= today_study_time.strftime("%H時間 %M分 %S秒")%>
      </div>
      
      <div class="total-study-time">
         総学習時間
          <% total_study_time = Time.at(total_study_time)%>
          <%= total_study_time.strftime("%H時間 %M分 %S秒")%>
      </div>
      
   </div>  
  </div>